body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #def3f6;
}

.header{
    border: 3px solid #32b9cb;
    background-color: azure;
    font-weight: bold;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;

}

.titulo {
    color: #32b9cb;
}

.header .container{
    justify-content: space-between;
   
}

.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
    color: #e3b062;
}

.banner {
    padding: 40px 0;
    color: #32b9cb;
    background-image: url(bg-jelly-fish-para_outras_pags.png);
    height: 600px;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.banner .container p{
    font-size: 30px;
    width: 15%;

}

.banner .container p span{
    font-weight: bold;

}


.social {
    padding: 40px;
}



.social .container {
    justify-content: space-between;
} 


.card {
    width: 150px;


}

.card img {
    width: 100%;
}

.card h4 {
    font-size: 25px;text-align: center;


}

.footer {
    background-color: #32b9cb;
}

.footer .container{
    justify-content: center;
    font-weight: bold;
    padding: 40px;
}

.log {
     display: flex;
     color: black;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  width: 400px; 
  margin: 0 auto; 
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-top: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 5%;
  background-image:  linear-gradient(to bottom right, #8dc7ca,#72afe0, #AEC6CF);
  border: solid 3px blue;
  animation: 5s anima2;
  animation:  5s anima;

}

@keyframes anima {
    from {
        transform: translateX(-100%);
    } to{
        transform: translateX(center);
    }
}


@keyframes anima2 {
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(-100%);
    }
    
}



#mail {
    margin-top: 2%;
    margin: 5%;
    border-radius: 5px 15px;
    border: solid 3px blue;
    font-size: medium;
    padding: 2.5%;
}

#pass {
    margin: 5%;
    border-radius: 5px 15px;
    border: solid 3px blue;
    font-size: medium;
    padding: 2.5%;


}

button {
    border-radius: 10px;
    border: none;
    font-size: large;
    background-image: linear-gradient(rgb(95, 95, 255), rgb(60, 60, 255), blue);
    font-weight: bold;
    
}

@keyframes animabutton {
    from {
        transform: translateY(0%);
    } to{
        transform: translateY(5%);
    }
}

button:hover {
    background-image: linear-gradient(blue, rgb(60, 60, 255), rgb(95, 95, 255));
    animation: 0.5s animabutton;
}


#plog{
    margin-bottom: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

a{
    color: #e3b062;
    text-decoration: none;
    cursor: default;
}